extends _lay/root

block title
	| Спасибо за регистрацию!

block body
	.thank-you
		.container
			a.logo(href=_shared.base)

			h1 Благодарим за регистрацию!

			p Мы вышлем скидочный купон на указанный Вами адрес электронной почты как только запустим сервис!