.btn {
	color: #fff;
	background: none;
	border: none;
	text-decoration: none;
	background: $color-red;
	padding: px2rem(14) px2rem(40);
	outline: none;
	@include font-size(14, 600);
	cursor: pointer;
}

.btn-outline {
	.head & {
		border: 1px solid rgba(#fff, .49);
		@include font-size(14, 600, #{px2rem(20)});
		padding: #{px2rem(16)} #{px2rem(20)};
		background: transparent;
		&:hover {
			background: rgba(#fff, .15);
		}
	}
}