.thank-you {
	height: calc(100vh - #{px2rem(24)});
	text-align: center;
	background: center/cover url('/img/thnx.jpg') no-repeat;
	color: #fff;
	padding-top: px2rem(24);
	h1 {
		@include media-down(md) {
			margin-top: 10vh;
		}
		@include media-up(md) {
			margin-top: 30vh;
		}
	}
	p {
		margin: 0 auto;
		@include media-up(sm) {
			width: 36rem;
		}
	}
}