// project variables
@import "vars";
// vendors
@import "../assets/normalize.css/normalize";
@import "../assets/magnific-popup/magnific-popup";
// utilites
@import "utils/utils";
// project-specific
@import "functions";
// commons
@import "typo";
@import "button";
@import "form";
// page blocks
@import "block/head";
@import "block/subscribe";
@import "block/benefits";
@import "block/specifies";
@import "block/reasons";
@import "block/gallery";
@import "thank-you";
@import "popup";
// -- start
.container {
	margin: 0 auto;
	max-width: map-get($container-max-widths, lg);
	@include media-between(md, lg) {
		max-width: map-get($container-max-widths, md);
	}
	@include media-down(md) {
		max-width: map-get($container-max-widths, sm);
	}
}

.clearfix {
	clear: both;
}

.head, .subscribe-block {
	* {
		color: #fff;
	}
}

footer {
	text-align: center;
	@include font-size(12);
	padding: px2rem(16) 0 px2rem(11) 0;
}