.reasons {
	%double-bg {
		background-position: 65% bottom, right top;
		@include media-up(lg) {
			min-height: 240px;
		}
		@include media-down(lg) {
			padding-bottom: 310px;
			background-position: calc(50% - 178px) bottom, calc(50% + 108px) calc(100% - 9px);
		}
		@include media-down(md) {
			background-size: 60%, 90%;
			background-position: left calc(100% - 121px), right bottom;
		}
	}
	p {
		@include font-size(14, $l: $golden-ratio);
		@include media-down(lg) {
			margin-top: 0;
			margin-bottom: 0;
		}
	}
	@include media-up(lg) {
		h3 + p {
			margin-top: 0;
		}
	}
	[class^='r'] {
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: relative;
		&:after {
			content: '';
			position: absolute;
			@include media-up(lg) {
				top: 50%;
				right: 45%;
				width: 10%;
				border-bottom: 1px solid #000;
			}
			@include media-down(lg) {
				border-right: 1px solid #000;
				height: 20%;
				right: 50%;
				bottom: 200px;
			}
			@include media-down(md) {
				height: 57px;
				bottom: 240px;
			}
		}
		&:nth-of-type(odd) {
			@include media-up(lg) {
				padding-right: 57%;
			}
		}
		&:nth-of-type(even) {
			@include media-up(lg) {
				padding-left: 57%;
				&:after {
					display: none;
				}
			}
		}
		&:not(:last-of-type) {
			margin-bottom: px2rem(52);
		}
		.btn {
			align-self: flex-start;
			margin-top: px2rem(40);
			@include media-down(md) {
				margin-top: px2rem(30);
			}
		}
		background-repeat: no-repeat;
	}
	.r1 {
		@extend %double-bg;
		background-image: photo(happy-girl), photo(sea-pavilion);
	}
	.r2 {
		@include media-up(lg) {
			min-height: 328px;
			background-position: left bottom;
		}
		@include media-down(lg) {
			padding-bottom: 402px;
			background-position: center bottom;
			&:after {
				bottom: 300px;
			}
		}
		background-image: photo(devices);
		@include media-down(md) {
			padding-bottom: 243px;
			background-image: photo(devices-sm);
			&:after {
				bottom: 160px;
			}
		}
	}
	.r3 {
		@extend %double-bg;
		background-image: photo(happy-grannies), photo(fit-girls);
	}
	.r4 {
		@include media-up(lg) {
			min-height: 304px;
			.btn {
				display: none;
			}
		}
		@include media-down(lg) {
			padding-bottom: 351px;
			background-position: center bottom;
			&:after {
				bottom: 270px;
			}
		}
		@include media-down(md) {
			padding-bottom: 208px;
			background-size: 100%;
			&:after {
				bottom: 130px;
			}
		}
		background-image: photo(auhm-shanti);
	}
	.r5 {
		@include media-up(lg) {
			min-height: 289px;
			background-position: right;
		}
		@include media-down(lg) {
			padding-bottom: 365px;
			background-position: center bottom;
			.btn {
				display: none;
			}
			&:after {
				bottom: 265px;
			}
		}
		@include media-down(md) {
			padding-bottom: 214px;
			background-size: 100%;
			&:after {
				bottom: 130px;
			}
		}
		background-image: photo(savings);
	}
}