.subscribe-form {
	@include media-up(md) {
		width: 45%;
	}
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	legend {
		margin-bottom: px2rem(30);
		line-height: $golden-ratio;
		@include font-size(14, 100);
	}
	.form-control {
		min-width: px2rem(230);
		box-sizing: border-box;
		&.error {
			background: rgba($color-red, .15);
			@include media-down(lg) {
				+ span {
					background: rgba($color-red, .15);
				}
			}

		}
		+ span {
			font-weight: 600;
		}
	}
	.btn[type='submit'] {
		margin-top: px2rem(24);
		display: block;
	}
	@include media-down(lg) {
		justify-content: flex-start;
		.form-control {
			width: 100%;
		}
		.form-control + span {
			margin: 0;
			@include font-size(14);
			background: rgba(#fff, .15);
			align-self: stretch;
			padding-top: px2rem(12);
			text-align: right;
			width: 12%;
		}
		span + .form-control {
			width: 88%;
			@each $prefix in -webkit-input-placeholder, -moz-placeholder, -ms-input-placeholder {
				&::#{$prefix} {
					text-transform: lowercase;
				}
			}
		}
		.form-control + span, span + .form-control {
			margin-top: px2rem(10);
		}
	}
}

.subscribe-block {
	background: no-repeat right bottom, no-repeat center/cover;
	margin: px2rem(70) 0;
	padding: px2rem(66) 0;
	@include media-down(lg) {
		margin: px2rem(70) 0;
		padding: px2rem(40) 0;
	}
	.header {
		@include font-size(35);
		@include media-between(md, lg) {
			@include font-size(30);
			padding-right: 50%;
		}
		@include media-down(md) {
			@include font-size(25);
			text-align: center;
		}
		margin-bottom: px2rem(60);
		small {
			margin-top: px2rem(10);
			@include font-size(14);
		}
	}
}

.subscribe-block {
	&.subscribe-2 {
		background-image: url('/img/prlx-2.png'), url('/img/bg-2.jpg');
		background-position: calc(50% + 540px) center, left center;
		@include media-between(md, lg) {
			background-image: url('/img/prlx-2-md.png'), url('/img/bg-2.jpg');
			background-position: right center, left center;
		}
		@media (max-width: 949px) {
			background-position: calc(50% + 205px) center, left center;
		}
		@include media-down(md) {
			background: no-repeat left center/cover url('/img/bg-2.jpg');
		}
	}

	&.subscribe-3 {
		@include media-up(md) {
			background-image: url('/img/prlx-3.png'), url('/img/bg-3.jpg');
		}
		@include media-up(lg) {
			background-position: calc(50% + 300px) bottom, left center;
		}
		@include media-between(md, lg) {
			background-position: calc(50% + 170px) bottom, left center;
		}
		@include media-down(md) {
			background-image: url('/img/prlx-3-sm.png'), url('/img/bg-3-sm.jpg');
			padding-bottom: 287px;
			background-size: 100%, cover;
			background-position: center bottom, left bottom;
		}
	}

	&.subscribe-4 {
		background-image: url('/img/prlx-4.png'), url('/img/bg-2.jpg');
		@include media-up(lg) {
			background-position: calc(50% + 310px) bottom, left center;
		}
		@include media-between(md, lg) {
			background-position: calc(50% + 205px) bottom, left center;
		}
		@include media-down(md) {
			background-image: url('/img/prlx-4.png'), url('/img/bg-3-sm.jpg');
			padding-bottom: 315px;
			background-size: 110%, cover;
			background-position: center bottom, bottom;
		}
		margin-bottom: 0;
	}
}