.popup
	form.subscribe-form(action='')
		.header Оставьте заявку
		legend чтобы&nbsp;
			strong получить купон на скидку до 15%&nbsp;
			| при первом бронировании на XXX
		input.form-control.email-input(type='text',placeholder='E-mail',name='email')
		span или
		input.form-control.phone-input(type='text',placeholder='Телефон',name='phone')
		button.btn(type='submit') Отправить