.popup {
	background: #fff;
	width: px2rem(390);
	padding: px2rem(37) px2rem(32);
	margin: 0 auto;
	text-align: center;
	box-sizing: border-box;

	.subscribe-form {
		width: 100%;
		display: block;
		.btn[type='submit'] {
			margin: px2rem(30) auto 0;
		}
	}
	.header {
		@include font-size(33, 100);
		margin-bottom: px2rem(20);
	}
	.form-control {
		display: block;
		box-sizing: border-box;
		border: 1px solid rgba(#000, .3);
		width: 100%;
		color: #000;
		+ span {
			display: block;
			@include font-size(13, 400);
			padding: px2rem(15) 0;
		}
	}
}