.gallery {
	@include media-up(md) {
		margin: px2rem(64) 0 0;
		img {
			width: calc(100% / 3 - 2px);
			float: right;
			margin: 1px;
		}
	}
	@include media-down(md) {
		img {
			width: 100%;
			&.big {
				display: none;
			}
		}
	}
}