$base-font-size: 16px !default;
$golden-ratio: 1.61803398875;
$grid-breakpoints: (
		sm: 320px,
		md: 750px,
		lg: 1140px
) !default;
$container-max-widths: (
		sm: 280px,
		md: 736px,
		lg: 1140px
) !default;

