mixin subscribe-block(i)
	.subscribe-block(class='subscribe-' + i)
		.container
			.header Получите специальное предложение
				small Здоровье бесценно. Доверяйте лучшим!
				
			include ../_inc/subscribe-form